.btn {
  border-radius: 5px;
  border: none;
  background-color: #697e7f;
  padding: 11px 13px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.btn:hover {
  background-color: #0cc4ce;
  cursor: pointer;
}
.mediumBtn {
  border-radius: 5px;
  border: none;
  background-color: #6fb048;
  padding: 18px 43px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.mediumBtn:hover {
  background-color: #34d3d8;
  cursor: pointer;
}

/* .btn--primary {
  background-color: var(--primary);
  border-color: ;
} */
/* .btn--primary:hover {
  box-shadow
} */

/* .box {
  color: #000;
}
.box--active {
  color: red;


} */

/* .block__element--modifier */
