/* text underline */
@import url(../../UI/textUnderLine.css);

/* Header */
@import url(./contactUs_header.css);

/* Map - Section */
@import url(./contactUs_map.css);

/* Get In Touch - Section */
@import url(./contactUs_getInTouch.css);

/* Download - Section */
@import url(./contactUs_download.css);

/* Footer - Section */
@import url(../../common/footer.css);

html,
body {
  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
