@import url(../../UI/base-button.css);
#about-header {
  position: absolute;
  padding: 30px;
  width: 100%;
}
.about-header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #b1cece;
  padding-bottom: 20px;
  animation: animatedHeader 5s linear 1 backwards;
}
.about-headerLogoPhNum_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.about-header-logo_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.about-header-logo {
  font-size: 29px;
  line-height: 46px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Proxima Nova";
  text-transform: uppercase;
}
.verticalSeparat {
  width: 2px;
  height: 21px;
  background-color: #b1cece;
  rotate: 90deg;
  margin: 0px 25px;
}
.about-phoneNum_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.about-phoneNum_wrapper:hover {
  color: rgb(6, 38, 141);
  background-color: rgba(119, 223, 15, 0.89);
  border-radius: 5px;
  cursor: pointer;
}
.about-phoneNum {
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  margin-left: 6px;
}
.about-header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-header_burger-menu {
  display: none;
}
.about-header-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.about-header-list_item {
  margin: 0px 16px;
}
.about-header-list_item_link {
  text-align: right;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 16px;
  transition: color 3s;
}
.about-header-list_item_link:hover {
  color: rgb(6, 38, 141);
  background-color: rgba(119, 223, 15, 0.89);
  border-radius: 5px;
}

@keyframes animatedHeader {
  0% {
    background-color: initial;
    border-radius: 10px;
    box-shadow: lawngreen;
  }
  25% {
    background-color: rgb(79, 130, 224);
    border-radius: 10px;
    box-shadow: lawngreen;
  }
  50% {
    background-color: rgb(79, 183, 224);
    border-radius: 10px;
    box-shadow: lawngreen;
  }
  75% {
    background-color: rgb(26, 149, 153);
    border-radius: 10px;
    box-shadow: lawngreen;
  }
  100% {
    background-color: rgb(79, 219, 114);
    border-radius: 10px;
    box-shadow: lawngreen;
  }
}
