#add-ons {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addOns-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 38px 0px 55px;
}
.addOns-title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addOns-title {
  font-size: 22px;
  line-height: 20px;
  color: #0f5f5c;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
}
.plansList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.plansCheck_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.plansCheck-text {
  font-size: 14px;
  line-height: 36px;
  color: #83a7a5;
  font-weight: 400;
  font-family: "Roboto";
  margin-left: 11px;
}
.plansCheck:hover {
  filter: contrast(5);
  cursor: pointer;
}
