#intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #2d6e70af 0%, #2d6e70b7 100%),
    url("../../../media/Images/Home_Page/Intro_Section/IntroBG.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.intro-title {
  font-size: 38px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Roboto";
}
.intro-subtitle {
  width: 513px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  margin: 22px 0px;
}
